/*
 * Copyright (c) 2012 The Chromium OS Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.touchscreen-prompt {
  text-align: center;
  font-size: 32;
  position: absolute;
  top: 20;
  left: 0;
  right: 0; }
.touchscreen-full-screen {
  background-color: white;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  visibility: visible; }
.touchscreen-test-table {
  height: 100%;
  width: 100%; }
.touchscreen-test-block-untested {
  background-color: lightgray; }
.touchscreen-test-block-tested {
  background-color: lightgreen; }
.touchscreen-test-block-failed {
  background-color: lightcoral; }
.touchscreen-test-block-demo-0 {
  background-color: #3399FF; }
.touchscreen-test-block-demo-1 {
  background-color: #47A3FF; }
.touchscreen-test-block-demo-2 {
  background-color: #5CADFF; }
.touchscreen-test-block-demo-3 {
  background-color: #70B8FF; }

