@charset "UTF-8";

#state {
  margin: 30px;
  font-size: 30px;
}

#sn {
  font-size: 30px;
}

#sn-format-error {
  color: red;
}

table {
  margin: 0 auto;
  font-size: 24px;
}

td {
  padding: 10px;
}
