/*
 * Copyright (c) 2013 The Chromium OS Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

td {
  text-align: center;
  vertical-align: middle;
}
.btn-on-text {
  display: none;
}
.btn-off-text {
  display: none;
}
.btn-on .btn-on-text {
  display: block;
}
.btn-off .btn-off-text {
  display: block;
}
.freq-max-label {
  display: none;
}
.freq-max-edit {
  display: none;
}
.edit-on .freq-max-edit {
  display: inline;
}
.edit-off .freq-max-label {
  display: inline;
}
.ctl-panel {
  padding: 1em;
}
.ctl-panel h2 {
  margin: 0.5em;
  text-align: center;
}
.cras-node {
  cursor: pointer;
  margin: 0.2em;
  text-align: center;
}
.tonegen-vol-cell input {
  width: 20px;
  height: 120px;
  -webkit-appearance: slider-vertical;
}
.tonegen-vol-cell {
  width: 15%;
}
.tonegen-main-cell {
  width: 80%;
  text-align: center;
  vertical-align: middle;
}
