<div id="light-sensor-container" class="light-sensor-info"></div>
<table style="width: 80%%; margin: 0px auto;">
  <tbody>
    <tr>
      <td colspan="2">
        <div id="title0" class="light-sensor-info" align="center"></div>
      </td>
    </tr>
    <tr>
      <td style="width: 60%%;">
        <div id="desc0" class="light-sensor-desc" align="right"></div>
      </td>
      <td style="width: 40%%;">
        <div id="result0" class="light-sensor-desc" align="left"></div>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <div id="title1" class="light-sensor-info" align="center"></div>
      </td>
    </tr>
    <tr>
      <td style="width: 60%%;">
        <div id="desc1" class="light-sensor-desc" align="right"></div>
      </td>
      <td style="width: 40%%;">
        <div id="result1" class="light-sensor-desc" align="left"></div>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <div id="title2" class="light-sensor-info" align="center"></div>
      </td>
    </tr>
    <tr>
      <td style="width: 60%%;">
        <div id="desc2" class="light-sensor-desc" align="right"></div>
      </td>
      <td style="width: 40%%;">
        <div id="result2" class="light-sensor-desc" align="left"></div>
      </td>
    </tr>
    <tr><td colspan="2"><hr></td></tr>
    <tr>
      <td style="width: 60%%;">
        <div id="sensor_input" class="light-sensor-info" align="left"></div>
      </td>
      <td style="width: 40%%;">
        <div id="light-sensor-timer" class="light-sensor-timer" align="right"></div>
      </td>
    </tr>
  </tbody>
</table>
