{% extends "base.html" %}
{% load display static %}

{% block title %}Minijack: Live of HWIDs{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" type="text/css"
      href="{% static 'css/filter.css' %}">
{% endblock %}

{% block javascripts %}
  <script type="text/javascript" language="javascript"
      src="{% static 'js/hwids_life.js' %}"></script>
  <script type="text/javascript" language="javascript"
      src="{% static 'js/filter.js' %}"></script>
  <script type="text/javascript" language="javascript">
    var aaDevices = {{ device_list|Jsonify }};
    var aParams = {{ request.GET.dict|Jsonify }};
  </script>
{% endblock %}

{% block body %}
  <h1>Minijack: Life of HWIDs</h1>
  {% include "filter.html" %}
  <div id="suite_radio">
    <input type="radio" id="radio0" name="radio" value="0" checked="checked" />
      <label for="radio0">Show All</label>
    <input type="radio" id="radio1" name="radio" value="1" />
      <label for="radio1">Show Differences</label>
  </div>
  <br/>
  <table id="hwid_table" width="100%">
    <thead>
      <tr>
        <th></th>
        <th>hwid</th>
        {% for comp_class in class_set %}
        <th>{{ comp_class }}</th>{% endfor %}
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th></th>
        <th>hwid</th>
        {% for comp_class in class_set %}
        <th>{{ comp_class }}</th>{% endfor %}
      </tr>
    </tfoot>
    <tbody>
      {% for hwid, comps in hwid_list %}
      <tr>
        <td width="20"><img src="{% static 'images/details_open.png' %}"/></td>
        <td class="nowrap">{{ hwid }}</td>
        {% for comp_name in comps %}
        <td class="nowrap">{{ comp_name }}</td>{% endfor %}
      </tr>{% endfor %}
    </tbody>
  </table>
{% endblock %}
