/*
 * Copyright (c) 2012 The Chromium OS Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.touchscreen-caption {
  text-align : center;
  font-size : 35;
  position : relative; }
.touchscreen-full-screen-hide {
  background-color: white;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  visibility: hidden;}
.touchscreen-full-screen-show {
  background-color: white;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  visibility: visible;}
.touchscreen-test-info {
  font-size: 2em; }
.touchscreen-test-sector-untested {
  background-color: gray;
  height: 100%; }
.touchscreen-test-sector-tested {
  background-color: green;
  height: 100%;
  opacity: 0.5; }
