/*
 * Copyright 2014 The Chromium OS Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

#diagnosis-tool .modal-dialog-content {
  background-color: #fff;
  padding: 8px;
  position: relative;
}

#diagnosis-tool .modal-dialog-content .goog-splitpane-first-container {
  overflow: auto;
}

#diagnosis-tool .modal-dialog-content .goog-splitpane-second-container {
  overflow: auto;
}

#diagnosis-tool-clear-button {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

#diagnosis-tool-state-running {
  color: #0000ff;
  display: inline;
}

#diagnosis-tool-state-done {
  color: #00ee00;
  display: inline;
}

#diagnosis-tool-state-failed {
  color: #ff0000;
  display: inline;
}

#diagnosis-tool-state-stopped {
  color: #cccc00;
  display: inline;
}

#diagnosis-tool-state-stopping {
  color: #cccc00;
  display: inline;
}

#diagnosis-tool-state-none {
  color: #000000;
  display: inline;
}

#diagnosis-tool-state-not-applicable {
  color: #000000;
  display: inline;
}

#diagnosis-tool .input-div {
  position: relative;
  display: inline;
}

#diagnosis-tool .input-slider-horizontal-line {
  position: absolute;
  width: 100%;
  top: 0.45em;
  border: 0.1em inset white;
  overflow: hidden;
  height: 0;
  z-index: 0;
}

#diagnosis-tool .name {
  font-weight: bold;
}

#diagnosis-tool .description {
  margin-left: 2em;
  margin-bottom: 2em;
}

#diagnosis-tool .inputs {
  margin-left: 2em;
  margin-bottom: 2em;
}

#diagnosis-tool .goog-slider-horizontal {
  background-color: ThreeDFace;
  position: relative;
  display: inline-block;
  overflow: hidden;
  height: 1em;
  width: 60%;
}

#diagnosis-tool .goog-slider-thumb {
  position: absolute;
  background-color: ThreeDShadow;
  overflow: hidden;
}

#diagnosis-tool .goog-slider-horizontal .goog-slider-thumb {
  top: 0;
  width: 20px;
  height: 100%;
  z-index: 1;
}

#diagnosis-tool .goog-checkbox {
  border: 1px solid #1C5180;
  display: -moz-inline-box;
  display: inline-block;
  font-size: 1px;  /* Fixes the height in IE6 */
  height: 11px;
  margin: 0 4px 0 1px;
  vertical-align: text-bottom;
  width: 11px;
}

#diagnosis-tool .goog-checkbox-checked {
  background: #393;
  border-width: 3px;
  cursor: pointer;
}

#diagnosis-tool .goog-checkbox-unchecked {
  background: #fff;
  border-width: 3px;
  cursor: pointer;
}

#diagnosis-tool .goog-checkbox-unchecked:hover {
  background: #5b5;
  border-width: 3px;
  cursor: pointer;
}

#diagnosis-tool .goog-checkbox-disabled {
  border: 1px solid lightgray;
  background-position: -7px;
}

#diagnosis-tool .output {
  font-family: monospace;
}

#diagnosis-tool .output div {
  display: inline;
  white-space: pre;
  height: 1em;
  font-family: monospace;
}

#diagnosis-tool .goog-menu-button {
  cursor: pointer;
  background-color: #BEE9EB;
  border-style: solid;
  border-width: 1px;
  border-color: #7272DA;
  border-radius: 4px;
}

#diagnosis-tool .goog-menu-button:hover {
  border-color: #D8AA4A;
}

/* #BEE9EB */
