/*
 * Copyright (c) 2012 The Chromium OS Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

/* Declarations useful in test UI. */

th {
  text-align: left;
}

/* To vertically center, use
 * <div class="test-vcenter-outer"><div class="test-vcenter-inner">
 *   ... content ...
 * </div></div>
 */
.test-vcenter-outer {
  display: table;
  height: 100%; width: 100%;
}
.test-vcenter-inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.test-vcenter-accessibility {
  display: table;
  height: 100%; width: 100%;
  background-color: #F77;
}

/* Colors for test statuses. */
.test-status-passed {
  color: #0A0;
}
.test-status-failed-and-waived {
  color: #FC3;
}
.test-status-failed {
  color: #D00;
}
.test-status-untested {
  color: black;
}
.test-status-active {
  color: black;
}
.test-error {
  color: #D00;
}

.goofy-operator-mode .test-engineering-mode-only {
  display: none;
}
