/*
 * Copyright (c) 2012 The Chromium OS Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.display-caption {
  text-align : center;
  font-size : 35;
  position : relative; }
.display-table {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: 80%;
  position: relative;
  padding-top: 10%;
  border-collapse: collapse;}
.display-subtest-untested {
  vertical-align: middle; text-align: center;
  border: solid black 3px;
  background-color: gray; }
.display-subtest-passed {
  vertical-align: middle; text-align: center;
  border: solid black 3px;
  background-color: green;
  opacity: 0.5; }
.display-subtest-failed {
  vertical-align: middle; text-align: center;
  border: solid black 3px;
  background-color: red;
  opacity: 0.5; }
.display-subtest-td {
  vertical-align: middle; text-align: center;
  border: solid black 3px; }
.display-full-screen-hide {
  background-color: white;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  visibility: hidden;}
.display-full-screen-show {
  background-color: white;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  visibility: visible;}
.display-subtest-solid-gray-170 {
  background-color: #aaaaaa; width: 100%; height: 100%; }
.display-subtest-solid-gray-127 {
  background-color: #7f7f7f; width: 100%; height: 100%; }
.display-subtest-solid-gray-63 {
  background-color: #3f3f3f; width: 100%; height: 100%; }
.display-subtest-solid-red {
  background-color: red; width: 100%; height: 100%; }
.display-subtest-solid-green {
  background-color: green; width: 100%; height: 100%; }
.display-subtest-solid-blue {
  background-color: blue; width: 100%; height: 100%; }
.display-subtest-solid-gray {
  background-color: gray; width: 100%; height: 100%; }
.display-subtest-solid-black {
  background-color: black; width: 100%; height: 100%; }
.display-subtest-solid-white {
  background-color: white; width: 100%; height: 100%; }
.display-subtest-rectangle {
  background-color: black; position: fixed; top: 10;
  bottom: 10; left: 10; right: 10; }
.display-subtest-gradient-red {
  background-image: -webkit-linear-gradient(
    top left, #000000 0%, #FF0000 100%);
  width: 100%; height: 100%; }
.display-subtest-gradient-green {
  background-image: -webkit-linear-gradient(
    top left, #000000 0%, #00FF00 100%);
  width: 100%; height: 100%; }
.display-subtest-gradient-blue {
  background-image: -webkit-linear-gradient(
    top left, #000000 0%, #0000FF 100%);
  width: 100%; height: 100%; }
.display-subtest-gradient-white {
  background-image: -webkit-linear-gradient(
    top left, #000000 0%, #FFFFFF 100%);
  width: 100%; height: 100%; }
.display-subtest-image-complex {
  background-image: url(./complex.bmp); width: 100%; height: 100%;
  background-size: 100% 100%; }
.display-subtest-image-black {
  background-image: url(./BLACK.BMP); width: 100%; height: 100%;
  background-size: 100% 100%; }
.display-subtest-image-white {
  background-image: url(./WHITE.BMP); width: 100%; height: 100%;
  background-size: 100% 100%; }
.display-subtest-image-crosstalk-black {
  background-image: url(./CrossTalk\(black\).bmp); width: 100%; height: 100%;
  background-size: 100% 100%; }
.display-subtest-image-crosstalk-white {
  background-image: url(./CrossTalk\(white\).bmp); width: 100%; height: 100%;
  background-size: 100% 100%; }
.display-subtest-image-gray-63 {
  background-image: url(./gray\(63\).bmp); width: 100%; height: 100%;
  background-size: 100% 100%; }
.display-subtest-image-gray-127 {
  background-image: url(./gray\(127\).bmp); width: 100%; height: 100%;
  background-size: 100% 100%; }
.display-subtest-image-gray-170 {
  background-image: url(./gray\(170\).bmp); width: 100%; height: 100%;
  background-size: 100% 100%; }
.display-subtest-image-horizontal-rgbw {
  background-image: url(./Horizontal\(RGBW\).bmp); width: 100%; height: 100%;
  background-size: 100% 100%; }
.display-subtest-image-vertical-rgbw {
  background-image: url(./Vertical\(RGBW\).bmp); width: 100%; height: 100%;
  background-size: 100% 100%; }
