/* Copyright (c) 2012 The Chromium OS Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.template-title-container {
  width: 100%;
  font-size: 40px;
  height: 68px;
  font-weight: bold;
  padding-left: 16px;
  padding-top: 4px;
}
.template-state-container-1, .template-state-container-2 {
  position: absolute;
  bottom: 54px;
  left: 8px; right: 8px;
  background-color: white;
  text-align: center;
}
.template-state-container-1 {
  top: 68px;
}
.template-state-container-2 {
  top: 152px;
}
.template-state-scrollable {
  box-sizing: border-box;
  height: 100%;
  overflow: auto;
  padding: 10px;
  width: 100%;
}
.template-prompt-container {
  position: absolute;
  top: 68px; height: 84px;
  left: 8px; right: 8px;
  padding: 8px;
  background-color: white;
  display: block;
}
.template-instruction {
  position: absolute;
  left: 0;
  width: 75%;
  font-size: 24px;
  padding-left: 12px;
}
.template-progress-bar {
  position: absolute;
  left: 75%; top: 15%;
  width: 20%; height: 100%;
  display: none;
}
.template-button-container {
  text-align: right;
  position: absolute;
  bottom: 0; height: 48px;
  left: 0; right: 0;
  padding-right: 8px;
}

/* For progress bar */
.progress-bar-thumb {
  position: relative;
  overflow: hidden;
  width: 100%; height: 100%;
}
#template-progress-bar-indicator {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
}
