/*
 * Copyright (c) 2013 The Chromium OS Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4 {
  font-weight: normal;
}

body {
  font-size: 80%;
}

table {
  font-size: 100%;
}

table.screen {
  border-collapse: collapse;
  border-spacing: 0;
}

table.screen th {
  background-color: #eeeeee;
  color: #555555;
  font-weight: normal;
}

table.screen td, table.screen th {
  border: 1px solid #eee;
  padding: 4px 12px;
}

table.detail {
  border-collapse: collapse;
  border-spacing: 0;
}

table.detail td, table.detail th {
  padding-left: 20px;
  text-align: left;
  vertical-align: middle;
  white-space: nowrap;
}

table.dataTable {
  border-collapse: separate;
  border-spacing: 0;
}

td.cell {
  background-color: #ffffcc;
}

td.nowrap {
  white-space: nowrap;
}

a {
  text-decoration: none;
}

.querybox {
  font-size: 100%;
  width: 80%;
}

.container {
  height: auto;
  overflow: hidden;
}

.right {
  width: 50%;
  float: right;
}

.left {
  width: auto;
  float: none;
  overflow: hidden;
}

a.detail_button {
  border: 1px solid #888;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 0.2em;
  margin: 0.2em;
  display: inline-block;
  background-color: #ff8;
}

a.datatable_link {
  border: 1px solid #888;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 0.2em;
  display: inline-block;
  background-color: #ddf;
  width: 100%;
}

a.datatable_link:hover {
  background-color: white;
}

ul {
  padding-left: 2em;
  list-style-type: none;
}
